<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>React</title>
    <script type="text/javascript">
      window.initialData =  <%- JSON.stringify(initialData) -%>
    </script>
  </head>
  <body>
    <div id="root"><%- initialMarkup -%></div>
    <script src="bundle.js" charset="utf-8 "></script>
  </body>
</html>
